body {
    background-color: #1A1A2E;
    color: white;
    font-family: "Cinzel", serif;;
}
.title-font {
    font-family: "Great Vibes", cursive;
}
/*
.attire{
    border: 1px solid white;
}*/
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }
.wave img{
    flex: 1;
  }
.heart {
    font-size: 24px;
    color: #FFD700;
    margin: 0 10px;
}
svg {
    display: block;
}

.player-container {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}  
.controls {
    display: flex;
    align-items: center;
    gap: 15px;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
button:hover {
    background-color: #45a049;
}

.lead b,
.lead strong {
  font-weight: 700;
}

.thanks-font {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 1.6em;   /* 🔑 esto es lo importante */
  line-height: 1.2;
}

.actividades {
    font-weight: 400;
}

/* Mobile (default) */
.ceremony-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

/* Tablet & desktop */
@media (min-width: 768px) {
  .ceremony-img {
    width: 70px;
    height: 70px;
  }
}

.map-container {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
}

/* Proporción estándar */
.map-container iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

/* 📱 Móvil */
@media (max-width: 576px) {
  .map-container iframe {
    height: 280px; /* aquí lo haces más pequeño */
  }
}

/* Mobile (default) */
.color-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0 auto 4px;
}

.color-label {
  font-size: 0.7rem;
  line-height: 1.1;
}

/* Tablet & up */
@media (min-width: 576px) {
  .color-circle {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
  }

  .color-label {
    font-size: 0.9rem;
  }
}

.blush {
  background-color: #fbb964;
}

.peach {
  background-color: #fdd0b1;
}

.mint {
  background-color: #c4edbf;
}

.butter {
  background-color: #f8f0c6;
}

.stone {
  background-color: #7d93a3;
}

.olive {
  background-color: #69735a;
}

.sea {
  background-color: #94a8a9;
}

.teal {
  background-color: #4d8ea2;
}

.khaki {
  background-color: #ad937a;
}

.charcoal {
  background-color: #545454;
}

/* 7e6d94 lila
c198d2 lavander
12326e azul real
275998 azul real */